
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, #ece9e6, #ffffff);
    background-attachment: fixed;
    padding-bottom: 100px;
    color: #333;
}

.profile-section {
    text-align: center;
    margin: 2rem 0;
}

.profile-picture {
    flex-shrink: 0;
    margin-bottom: 1rem;
}

.profile-picture img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: 0 -60px;
    border: 3px solid #fff;
    transition: transform 0.3s;
}



.profile-picture img:hover {
    transform: scale(1.1);
}


#personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

#personal-info img {
    margin-bottom: 1rem;
}

nav {
    background-color: #4A90E2;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 20px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #fff;
    color: #4A90E2;
}

/* Section Styling */
section {
    padding: 2rem;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2.2rem;
    color: #4A90E2;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

button {
    padding: 10px 30px;
    font-size: 1rem;
    background-color: #4A90E2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3b78cc;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #4A90E2;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}
