.contact-container{
    padding-top: 8rem;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.contact-grid{
    display: grid;
    gap: 2.5rem;
}

@media(main-width: 768px) {
    .contact-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

.contact-heading{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1 ;
    margin: 0;
}

.contact-text{
    color: #4b5563;
    font-size: 1.125rem;
    line-height: 1.5;
    padding-top: 0.5rem;
    margin: 0;
}

.contact-flex{
    display: flex;
    gap:0.75rem;
    align-items: center;
}

.contact-space{
    display: flex;
    flex-direction: column;
    gap: 25rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.input-field , .textarea-field{
    background-color: transparent;
    border: 1px solid #333;
    padding: 0.5rem;
    border-radius: none;
    border-color: #08e95e;

}


.textarea-field{
    resize: vertical;
    height: auto;
    min-width: 150px;

}

.button {
    background-color: #08e95e;
    width: fit-content;
    color: white;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    border: none;
    cursor: pointer;
    border-radius: none;
    transition: background-color 0.3s ease;
}

.button:hover{
    background-color: #555;

}

