.projects-container{
    width: 100;
    padding-top: 8rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.projects-grid{
    display: grid;
    gap: 2.5rem;
}   

.projects-grid-xl{
    gap: 2.5rem;
}

.projects-grid-md-2{
    grid-template-columns: repeat(2, 1fr);
}

.projects-grid-lg-3{
    grid-template-columns: repeat(3, 1fr);
}

.projects-center{
    place-items: center;
}

/*reponsive design*/
@media (max-width: 768px) {
    .projects-grid{
        grid-template-columns: 1fr;
    }
}

@media(min-width: 768px) and (max-width: 1024px) {

    .projects-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1024px) {

    .projects-grid{
        grid-template-columns: repeat(3, 1fr);
    }

}